.navigator {
    overflow: hidden;
    background-color: darkslategrey;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    color:black;
    margin-bottom: 20px;
}

.navigator a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
 
  
  /* Right-aligned link */
  .navigator a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navigator a:hover {
    background-color: rgb(115, 168, 168);
    color: black;
  }  

  .navigator a.active {
    background-color: #666;
    color: white;
  }