<div  class="center">
    <form (ngSubmit)="loginCheck()" >        
        <label>Email</label><br />
        <input type="email" name="email" [(ngModel)]=login.email /><br />
        <label>Password</label><br />
        <input type="password" name="password" [(ngModel)]=login.password/><br />
        <button type="submit">Login</button><br />
        <span class="fp">Forgot <a routerLink="/home">password?</a></span>
    </form>
    <form>
    <span class="fp">Login as <a routerLink="/retailer-login">Retailer?</a></span>
    </form>

    <p>{{ message }}</p>
</div>
