<div class="page-container">
<div class="header">
  <div>
  <h2>Online Shopping</h2>
  <div class="search-container">
    <form >
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <a routerLink="cart"><i class="fa fa-shopping-cart fa_custom fa-2x"></i></a>
  </div>
</div>

<div>
  <navbar></navbar>
</div>

<div class="card">
  <router-outlet></router-outlet>  
</div>

<div class="footer">
  <h4>@os-2021</h4>
</div>
</div>